name: Daily Update IP database

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 12 * * *'
    
env:
  innoextract_version: 1.9
  arch: amd64
 
permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        
      - name: Set up python
        id: setup-python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install requests
          pip install bs4

      - name: Update qqwry.dat
        shell: pwsh
        run: |
          python qqwry.py
          unzip *.zip setup.exe
          chmod +x innoextract
          ./innoextract setup.exe -I qqwry.dat
          mv app/qqwry.dat qqwry/qqwry.dat
          rm -rf setup.exe
          rm -rf *.zip*
          rm -rf app/
          
      - name: Update GeoLite2-ASN
        run: wget https://github.com/P3TERX/GeoLite.mmdb/raw/download/GeoLite2-ASN.mmdb -O geolite/GeoLite2-ASN.mmdb
      - name: Update GeoLite2-City
        run: wget https://github.com/P3TERX/GeoLite.mmdb/raw/download/GeoLite2-City.mmdb -O geolite/GeoLite2-City.mmdb
      - name: Update GeoLite2-City
        run: wget https://github.com/P3TERX/GeoLite.mmdb/raw/download/GeoLite2-Country.mmdb -O geolite/GeoLite2-Country.mmdb
      
      - name: Update ip2region
        run: |
          wget https://github.com/lionsoul2014/ip2region/raw/master/data/ip2region.xdb -O ip2region/ip2region.xdb
          wget https://github.com/lionsoul2014/ip2region/raw/master/data/ip.merge.txt -O ip2region/ip.merge.txt
          
      - name: Update 17monipdb
        run: wget https://github.com/igreedy/ip_finder/raw/master/17monipdb.dat -O 17monipdb/17monipdb.dat
        
      - name: Update ipv6wry
        run: wget https://raw.githubusercontent.com/ZX-Inc/zxipdb-python/main/data/ipv6wry.db -O ipv6wry/ipv6wry.db
      
      - name: Update IPDB
        run: wget https://raw.githubusercontent.com/ipipdotnet/ipdb-go/master/city.free.ipdb -O ipdb/city.free.ipdb
        
      - name: Update DB-IP City
        run: wget "https://download.db-ip.com/free/dbip-city-lite-$(date +%Y-%m).mmdb.gz" -O db-ip/dbip-city-lite.mmdb.gz
      - name: Update DB-IP ASN
        run: wget "https://download.db-ip.com/free/dbip-asn-lite-$(date +%Y-%m).mmdb.gz" -O db-ip/dbip-asn-lite.mmdb.gz
      - name: Update DB-IP Country
        run: wget "https://download.db-ip.com/free/dbip-country-lite-$(date +%Y-%m).mmdb.gz" -O db-ip/dbip-country-lite.mmdb.gz

      - name: Commit and Push changes
        run: |
          echo $(date +'%Y%m%d') > date.txt
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add .
          git commit -am "$(date +'%Y%m%d')"
          git push -v --progress
